/*Schrijf hier jouw CSS*/

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

nav {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

header {
    flex-basis: 10vh;
    flex-grow: 0;
    flex-shrink: 0;

}

article {
    flex-basis: 80vh;

}

footer {
    flex-basis: 10vh;
    flex-grow: 0;
    flex-shrink: 0;

}